@{
    Layout = "LayoutEmployee";
}


<div class="text-center">
    <h1 class="align-content-center" id="judul">List Employee</h1>
</div>
</div>
<table class="table table-striped table-hover table-bordered" id="employeeTable">
    <thead class="table-light">
        <tr>
            <th>No</th>
            <th>NIK</th>
            <th>Nama</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Hiring Date</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody id="tbodyEmployee">
    </tbody>
</table>