﻿@{
    //Latihan = "_LatihanLayout";
}

<div class="container">
    <div class="row">
        <div class="col" id="tes1">
            <h1>List StarWars</h1>

            <ul id="listSW">
                <li></li>
            </ul>
        </div>

        <div class="col">
            <div id="tes2">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Height</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody id="tbodySW"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*
<button onclick="ChangeColor()"> button 1</button>
<button onclick="ChangeTextAndFont()"> button 2</button>
<button onclick="ChangeBackgroundColorAndText()"> button3</button>

*@
</div>