﻿@{
    //Latihan = "_LatihanLayout";
}

<div class="container">
    <div class="row">
        <div class="col" id="tes1">
            <p>Klik Tombol 1 untuk mengubah warna </p>
        </div>

            <div class="col" id="tes2">
                 <p>Klik tombol 2 untuk mengubah font</p>
            <div class="row">

                <div class="col" id="tes3">
                    <p>Klik Tombol 3 untuk mengubah text dan background color</p>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="ChangeColor()"> button 1</button>
<button onclick="ChangeTextAndFont()"> button 2</button>
<button onclick="ChangeBackgroundColorAndText()"> button3</button>

</div>